/* line 5, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* global start */
/* line 13, ../sass/style.scss */
.center {
  margin: 0px auto;
}

/* line 16, ../sass/style.scss */
.upper-layer-index {
  position: relative;
  z-index: 1;
}

/* line 20, ../sass/style.scss */
.article-title {
  color: RGB(40, 49, 37);
  padding: 5px 5px 0px 5px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

/* line 27, ../sass/style.scss */
.article-content {
  color: RGB(94, 93, 93);
  padding: 5px 5px 5px 5px;
  text-align: left;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
}

/* line 36, ../sass/style.scss */
.soccer {
  background-color: RGB(82, 139, 50);
}

/* line 40, ../sass/style.scss */
.trophy {
  background-color: RGB(251, 199, 41);
}

/* line 44, ../sass/style.scss */
.thumbsup {
  background-color: RGB(29, 69, 189);
}

/* line 48, ../sass/style.scss */
.sad {
  background-color: RGB(119, 0, 50);
}

/* line 52, ../sass/style.scss */
.padding-100 {
  padding: 100px 0px;
}

/* global end */
/* line 57, ../sass/style.scss */
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 66, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #3e3e3e;
  width: 100%;
  border: none;
  background: RGBA(119, 0, 50, 0.9);
}
/* line 74, ../sass/style.scss */
body header {
  width: 100%;
  background-image: linear-gradient(to bottom, #34669d, #1e3c5c);
}
/* line 77, ../sass/style.scss */
body header .top-nav {
  width: 80%;
  padding: 3px 0px;
  overflow: hidden;
}
/* line 81, ../sass/style.scss */
body header .top-nav button {
  background-color: #1e3c5c;
  background-image: linear-gradient(to bottom, #437fc1 0%, #1e3c5c 100%);
  border-radius: 5px;
  border: 1px #274d77 solid;
  margin: 5px 0px;
  padding: 2px 5px;
  box-sizing: border-box;
  float: left;
}
/* line 90, ../sass/style.scss */
body header .top-nav button .fcb-team-logo {
  float: left;
  width: 28px;
  height: 28px;
  border: none;
  background: url("../img/fcb-team-logo.gif");
  background-size: cover;
  border-radius: 6px;
}
/* line 99, ../sass/style.scss */
body header .top-nav button span {
  color: #FFF;
  float: left;
  margin-top: 7px;
  margin-left: 5px;
  background-color: RGBA(0, 0, 0, 0);
  font-size: 15px;
}
/* line 111, ../sass/style.scss */
body .hero {
  width: 100%;
  padding-bottom: 100px;
  position: relative;
  color: RGB(255, 255, 255);
  background-color: RGBA(115, 115, 115, 0.4);
}
/* line 117, ../sass/style.scss */
body .hero h1 {
  font-size: 50px;
  font-weight: 700;
  padding-top: 150px;
  padding-bottom: 20px;
}
/* line 123, ../sass/style.scss */
body .hero h3 {
  width: 80%;
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
  margin: 3px auto;
  color: RGB(240, 240, 240);
}
/* line 130, ../sass/style.scss */
body .hero h3 p {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  font-style: italic;
}
/* line 139, ../sass/style.scss */
body .hero:after {
  background: url("../img/nou-camp.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  opacity: .9;
}
/* line 155, ../sass/style.scss */
body .timeline {
  width: 80%;
  background-color: RGB(230, 230, 230);
  border-radius: 5px;
  margin: 0px auto;
  box-sizing: border-box;
  padding-top: 30px;
}
/* line 162, ../sass/style.scss */
body .timeline .line-content {
  position: relative;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 168, ../sass/style.scss */
body .timeline .line-content .start {
  background-color: RGB(166, 215, 125);
  border-radius: 5px;
  width: 40%;
}
/* line 173, ../sass/style.scss */
body .timeline .line-content .end {
  background-color: RGB(166, 215, 125);
  position: relative;
  border-radius: 5px;
  height: 100px;
  margin-top: 30px;
  width: 40%;
}
/* line 180, ../sass/style.scss */
body .timeline .line-content .end ul {
  margin: 10px 0px 10px 40px;
  text-align: left;
}
/* line 183, ../sass/style.scss */
body .timeline .line-content .end ul li {
  margin: 0px 10px;
  display: inline-block;
  -webkit-box-shadow: 0 0 2px RGB(29, 69, 189);
  border-radius: 3px;
  overflow: hidden;
  width: 60px;
  height: 60px;
}
/* line 191, ../sass/style.scss */
body .timeline .line-content .end ul li img {
  width: 100%;
  height: 100%;
  border: 2px white solid;
  box-sizing: border-box;
}
/* line 197, ../sass/style.scss */
body .timeline .line-content .end ul li:hover {
  -webkit-transform: scale(3);
}
/* line 204, ../sass/style.scss */
body .timeline .line-content:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 3px;
  height: 98%;
  margin: 5px auto;
  background-color: RGBA(39, 76, 117, 0.8);
  z-index: 0;
  -webkit-box-shadow: 0px 0px 4px #274c75;
}
/* line 217, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) {
  position: relative;
  padding: 70px;
}
/* line 220, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container {
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 1;
}
/* line 228, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container i {
  border: none;
  vertical-align: middle;
  color: #fff;
  border-radius: 50%;
  font-size: 25px;
}
/* line 235, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .article {
  position: absolute;
  top: -30px;
  left: 70px;
  width: 300px;
  box-sizing: border-box;
  border: 2px RGB(125, 155, 184) solid;
  border-radius: 5px;
  padding: 2px;
  background-color: RGB(255, 255, 255);
}
/* line 245, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .article:before {
  content: "";
  position: absolute;
  top: 3em;
  left: -0.9em;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: RGB(125, 155, 184);
  z-index: 1;
}
/* line 260, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .article:after {
  content: "";
  position: absolute;
  top: 3em;
  left: -0.6em;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: RGB(255, 255, 255);
  z-index: 1;
}
/* line 276, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .imgs {
  position: absolute;
  top: -0.5em;
  left: 6em;
}
/* line 280, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .imgs .rotate-60 {
  position: absolute;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  left: -26em;
}
/* line 287, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .imgs .rotate-40 {
  position: absolute;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  left: -21em;
}
/* line 294, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .imgs .rotate-20 {
  position: absolute;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  left: -16em;
}
/* line 301, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .imgs li {
  display: inline-block;
  position: absolute;
  width: 7em;
  height: 7em;
  transition: all 0.2s ease-in-out;
}
/* line 307, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .imgs li:hover {
  -webkit-transform: scale(3);
  z-index: 3;
}
/* line 311, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n) .icon-container .imgs li img {
  box-sizing: border-box;
  border: 2px white solid;
  -webkit-box-shadow: 0 0 2px RGB(29, 69, 189);
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
/* line 323, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) {
  position: relative;
  padding: 70px;
}
/* line 326, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container {
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 1;
}
/* line 334, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container i {
  border: none;
  vertical-align: middle;
  color: #fff;
  border-radius: 50%;
  font-size: 25px;
}
/* line 341, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .article {
  position: absolute;
  top: -20px;
  left: -325px;
  width: 300px;
  box-sizing: border-box;
  border: 2px RGB(125, 155, 184) solid;
  border-radius: 5px;
  padding: 2px;
  background-color: RGB(255, 255, 255);
  z-index: 1;
}
/* line 352, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .article:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 290px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: RGB(125, 155, 184);
  z-index: 1;
}
/* line 367, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .article:after {
  content: "";
  position: absolute;
  top: 3em;
  left: 28.7em;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: RGB(255, 255, 255);
  z-index: 1;
}
/* line 383, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .imgs {
  position: absolute;
  top: -0.5em;
  left: 6em;
}
/* line 387, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .imgs .rotate-60 {
  position: absolute;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  left: 10em;
}
/* line 394, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .imgs .rotate-40 {
  position: absolute;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  left: 5em;
}
/* line 401, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .imgs .rotate-20 {
  position: absolute;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  left: 0em;
}
/* line 408, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .imgs li {
  display: inline-block;
  position: absolute;
  width: 7em;
  height: 7em;
  transition: all 0.2s ease-in-out;
}
/* line 414, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .imgs li:hover {
  -webkit-transform: scale(3);
  z-index: 2;
}
/* line 418, ../sass/style.scss */
body .timeline .line-content ul .milestone:nth-child(2n-1) .icon-container .imgs li img {
  box-sizing: border-box;
  border: 2px white solid;
  -webkit-box-shadow: 0 0 2px RGB(29, 69, 189);
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
/* line 433, ../sass/style.scss */
body .timeline .imgbar {
  padding-top: 50px;
  width: 100%;
  border: none;
  padding: 30px 0px 30px 0px;
}
/* line 438, ../sass/style.scss */
body .timeline .imgbar .pic-box {
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  padding: 4px;
  background-color: black;
  position: relative;
}
/* line 445, ../sass/style.scss */
body .timeline .imgbar .pic-box .img-border {
  box-sizing: border-box;
  border: 0.2em white solid;
}
/* line 448, ../sass/style.scss */
body .timeline .imgbar .pic-box .img-border img {
  border: 2px white solid;
  width: 100%;
  transition: all 0.2s ease-in-out;
  border: none;
}
/* line 455, ../sass/style.scss */
body .timeline .imgbar .pic-box:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  z-index: 1;
}
/* line 465, ../sass/style.scss */
body footer {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom, #34669d, #1e3c5c);
  border: none;
}
/* line 470, ../sass/style.scss */
body footer div {
  height: 100%;
  border: none;
  padding: 0px;
}
/* line 474, ../sass/style.scss */
body footer div p {
  border: none;
  display: inline-block;
  margin-right: 5px;
}
/* line 479, ../sass/style.scss */
body footer div .preffix {
  padding-top: 20px;
  color: RGB(225, 230, 234);
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
}
/* line 486, ../sass/style.scss */
body footer div .author {
  padding-top: 10px;
  color: RGB(225, 230, 234);
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
}
