/* line 5, ../../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/style.scss */
body {
  font-family: sans-serif;
  background: #BBD6FF;
}

/* line 16, ../sass/style.scss */
.container {
  width: 90%;
  min-width: 1440px;
  border-radius: 6px;
  margin-bottom: 50px;
  overflow: hidden;
}

/* line 24, ../sass/style.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 30, ../sass/style.scss */
.subline {
  width: 40px;
  margin-top: 10px;
  border: 3px solid #aaa;
}

/* line 36, ../sass/style.scss */
header {
  width: 100%;
  height: 800px;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #EEFFEE;
}
/* line 43, ../sass/style.scss */
header .navigator {
  float: right;
  font-weight: light;
  font-size: 20px;
  margin-top: 20px;
}
/* line 48, ../sass/style.scss */
header .navigator span {
  margin-right: 15px;
}
/* line 51, ../sass/style.scss */
header .navigator .choosed {
  border: 3px solid #f4f3f1;
  padding: 5px 10px;
  border-radius: 3px;
}

/* line 59, ../sass/style.scss */
.topbar {
  background: #EEF5FF;
  height: 60px;
  padding-right: 25px;
}

/* line 65, ../sass/style.scss */
.dots {
  overflow: hidden;
}

/* line 69, ../sass/style.scss */
.dot {
  float: left;
  width: 20px;
  height: 20px;
  margin: 20px 0 20px 25px;
  border-radius: 100%;
}

/* line 77, ../sass/style.scss */
.red {
  background: #FF8888;
}

/* line 81, ../sass/style.scss */
.yellow {
  background: #E7E708;
}

/* line 85, ../sass/style.scss */
.green {
  background: #0FCE0F;
}

/* line 89, ../sass/style.scss */
.search {
  margin: 300px auto 0px;
  text-align: center;
  color: #EEFFEE;
}
/* line 93, ../sass/style.scss */
.search h1 {
  font-weight: 550;
  font-size: 30px;
}
/* line 97, ../sass/style.scss */
.search h3 {
  margin: 10px;
  font-weight: 300;
  font-style: oblique;
}
/* line 102, ../sass/style.scss */
.search .searchbox {
  width: 700px;
  height: 56px;
  position: relative;
  margin-top: 20px;
  vertical-align: middle;
}
/* line 108, ../sass/style.scss */
.search .searchbox .suburb {
  width: 580px;
  height: 100%;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  border-radius: 6px 0px 0px 6px;
  font-weight: 500;
  font-size: 25px;
  opacity: 0.8;
  padding: 0px 15px;
}
/* line 120, ../sass/style.scss */
.search .searchbox .suburb:focus {
  border: 1px solid rgba(99, 255, 255, 0.8);
}
/* line 123, ../sass/style.scss */
.search .searchbox .searchbutton {
  width: 120px;
  height: 100%;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  background-color: #67ddab;
  color: #EEFFEE;
  font-size: 16px;
  border: none;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
}

/* line 140, ../sass/style.scss */
.body {
  background: #f4f3f1;
}
/* line 142, ../sass/style.scss */
.body .numbers {
  width: 1080px;
  background: #f4f3f1;
  position: relative;
  top: -75px;
  border-radius: 6px;
  border: 1px solid #aaa;
  overflow: hidden;
}
/* line 150, ../sass/style.scss */
.body .numbers .item {
  width: 24.9%;
  border-right: 1px solid #aaa;
  float: left;
}
/* line 155, ../sass/style.scss */
.body .numbers .item:last-child {
  border: none;
}
/* line 158, ../sass/style.scss */
.body .numbers .number {
  padding: 50px 0px 20px 0px;
  font-weight: bolder;
  color: #555;
}
/* line 163, ../sass/style.scss */
.body .numbers .unit {
  color: #999;
  height: 0px;
  padding: 10px 0px 60px 0px;
}
/* line 170, ../sass/style.scss */
.body .how_it_works {
  font-weight: bolder;
  font-size: 20px;
  padding: 80px 0 0 0;
  color: #555;
}
/* line 175, ../sass/style.scss */
.body .how_it_works .flowline {
  width: 800px;
  margin-top: 100px;
  border-top: 1px solid #aaa;
}
/* line 181, ../sass/style.scss */
.body .how_it_works .flow ul {
  position: relative;
  top: -22px;
}
/* line 184, ../sass/style.scss */
.body .how_it_works .flow ul li {
  width: 250px;
  display: inline-block;
  margin: 0px 75px;
}
/* line 188, ../sass/style.scss */
.body .how_it_works .flow ul li .circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #aaa;
  text-align: center;
  background: #f4f3f1;
}
/* line 195, ../sass/style.scss */
.body .how_it_works .flow ul li .circle p {
  margin-top: 12px;
  font-size: 20px;
  overflow: hidden;
}
/* line 201, ../sass/style.scss */
.body .how_it_works .flow ul li img {
  margin-top: 30px;
  width: 90px;
  height: 65px;
}
/* line 206, ../sass/style.scss */
.body .how_it_works .flow ul li h3 {
  margin-top: 30px;
  font-weight: bolder;
  color: #555;
  font-size: 24px;
}
/* line 212, ../sass/style.scss */
.body .how_it_works .flow ul li p {
  margin-top: 30px;
  font-weight: 200;
  font-size: 14px;
  color: #999;
}
/* line 222, ../sass/style.scss */
.body .seperateline {
  width: 90%;
  margin-top: 80px;
  border-top: 1px solid #aaa;
  overflow: hidden;
}
/* line 229, ../sass/style.scss */
.body .why_us {
  margin-top: 100px;
}
/* line 231, ../sass/style.scss */
.body .why_us .title {
  font-weight: bolder;
  font-size: 20px;
  color: #555;
}
/* line 236, ../sass/style.scss */
.body .why_us .why_us_content {
  width: 80%;
  overflow: hidden;
  margin-top: 50px;
}
/* line 240, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}
/* line 244, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item {
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 248, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item .icon-color1 {
  color: RGB(120, 190, 147);
}
/* line 251, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item .icon-color2 {
  color: RGB(1, 180, 234);
}
/* line 254, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item .icon-color3 {
  color: RGB(236, 169, 90);
}
/* line 257, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item .icon-color4 {
  color: RGB(173, 157, 211);
}
/* line 260, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item .icon-color5 {
  color: RGB(241, 109, 126);
}
/* line 263, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item .icon-color6 {
  color: RGB(237, 127, 91);
}
/* line 266, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item i {
  margin-left: 100px;
  font-size: 30px;
  float: left;
}
/* line 271, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item .why_us_text {
  margin-left: 120px;
}
/* line 273, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item .why_us_text h3 {
  font-size: 25px;
  color: #555;
}
/* line 277, ../sass/style.scss */
.body .why_us .why_us_content .why_us_row .why_us_item .why_us_text p {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: lighter;
  width: 60%;
  color: #aaa;
  line-height: 1.2;
}
/* line 293, ../sass/style.scss */
.body .feedback {
  margin-top: 80px;
}
/* line 296, ../sass/style.scss */
.body .feedback .fb_buttons ul {
  box-sizing: border-box;
}
/* line 298, ../sass/style.scss */
.body .feedback .fb_buttons ul .left_button {
  margin-right: -3px;
  background-color: RGB(96, 103, 122);
  border: 1px solid RGB(96, 103, 122);
  color: #f4f3f1;
  border-radius: 5px 0px 0px 5px;
}
/* line 306, ../sass/style.scss */
.body .feedback .fb_buttons ul .right_button {
  margin-left: -3px;
  border: 1px solid RGB(96, 103, 122);
  border-radius: 0px 5px 5px 0px;
  color: RGB(96, 103, 122);
}
/* line 312, ../sass/style.scss */
.body .feedback .fb_buttons ul li {
  width: 180px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 0px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
/* line 319, ../sass/style.scss */
.body .feedback .fb_buttons ul li span {
  border: none;
}
/* line 326, ../sass/style.scss */
.body .feedback .fb_info {
  margin-top: 50px;
  width: 70%;
  color: #aaa;
  line-height: 1.5;
}
/* line 334, ../sass/style.scss */
.body .avatar {
  width: 60%;
  box-sizing: border-box;
}
/* line 337, ../sass/style.scss */
.body .avatar ul {
  margin: 0px 10% 0px 10%;
}
/* line 339, ../sass/style.scss */
.body .avatar ul li {
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
}
/* line 343, ../sass/style.scss */
.body .avatar ul li .avatarbar {
  margin: 10px 45%;
  border: 2px solid #aaa;
}
/* line 347, ../sass/style.scss */
.body .avatar ul li .avatar-border-1 {
  margin: 0px auto;
  overflow: hidden;
  border: 2px solid #aaa;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  padding: 5px;
}
/* line 355, ../sass/style.scss */
.body .avatar ul li .avatar-border-1 .avatar-border-2 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border: 0px solid #aaa;
  border-radius: 100%;
}
/* line 363, ../sass/style.scss */
.body .avatar ul li .avatar-border-1 .left-pic {
  background: url(../img/yangyin.jpg);
  background-size: cover;
}
/* line 367, ../sass/style.scss */
.body .avatar ul li .avatar-border-1 .center-pic {
  background: url(../img/chenlu.jpg);
  background-size: cover;
}
/* line 371, ../sass/style.scss */
.body .avatar ul li .avatar-border-1 .right-pic {
  background: url(../img/dengchao.jpg);
  background-size: cover;
}
/* line 377, ../sass/style.scss */
.body .avatar ul li .gray {
  -webkit-filter: grayscale(80%);
}
/* line 381, ../sass/style.scss */
.body .avatar ul li:hover .gray {
  -webkit-filter: grayscale(0%);
}
/* line 384, ../sass/style.scss */
.body .avatar ul li:hover .toggle {
  visibility: visible;
}
/* line 388, ../sass/style.scss */
.body .avatar ul li p {
  margin: 40px auto;
  color: RGB(7, 10, 25);
  font-size: 20px;
  font-weight: 500;
  opacity: 0.3;
}
/* line 395, ../sass/style.scss */
.body .avatar ul li .toggle {
  visibility: hidden;
}
/* line 403, ../sass/style.scss */
.body .bottom-search {
  margin-top: 80px;
  width: 100%;
  height: 400px;
  background: url(../img/view-from-london-eye.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}
/* line 412, ../sass/style.scss */
.body .bottom-search .search {
  position: relative;
  margin-top: 180px;
  width: 80%;
}
/* line 414, ../sass/style.scss */
.body .bottom-search .search span {
  color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 4%;
  margin-top: 20px;
  font-size: 22px;
}
/* line 426, ../sass/style.scss */
.body .bottom-search .search .bottom-search-box {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  margin: 0px auto;
}
/* line 435, ../sass/style.scss */
.body .bottom-search .search .bottom-search-box input {
  margin-left: 20%;
  padding: 1%;
  font-weight: 500;
  font-size: 25px;
}
/* line 442, ../sass/style.scss */
.body .bottom-search .search .bottom-search-box input[type="text"] {
  height: 100%;
  width: 48%;
  box-sizing: border-box;
  float: left;
  border-radius: 5px 0px 0px 5px;
}
/* line 449, ../sass/style.scss */
.body .bottom-search .search .bottom-search-box input[type="button"] {
  height: 100%;
  background-color: #67ddab;
  width: 12%;
  margin: 0px;
  box-sizing: border-box;
  float: left;
  border: none;
  font-size: 18px;
  border-radius: 0px 5px 5px 0px;
  color: white;
}
/* line 466, ../sass/style.scss */
.body .page-footer {
  width: 80%;
  padding: 20px 0px;
  overflow: hidden;
}
/* line 471, ../sass/style.scss */
.body .page-footer ul li {
  display: inline-block;
  margin: 5px;
}
/* line 476, ../sass/style.scss */
.body .page-footer .footer-ul-left {
  color: #555;
  float: left;
  font-size: 16px;
}
/* line 481, ../sass/style.scss */
.body .page-footer .footer-ul-right {
  color: RGB(1, 180, 234);
  font-size: 20px;
  float: right;
}
