@import "compass/reset";
@import "compass/css3";

$bg-color-headertop: RGB(88, 143, 188);
$bg-color-headerbottom: RGB(31, 62, 94);
$color-headerbotton: RGB(31, 62, 94);
$color-transparent: RGBA(0, 0, 0, 0);
$bg-article-white: RGB(255, 255, 255);
$bg-timeline: RGB(230, 230, 230);
$bg-article-border: RGB(125, 155, 184);

/* global start */
.center {
	margin: 0px auto;
}
.upper-layer-index {
    position: relative;
	z-index: 1;
}
.article-title {
	color: RGB(40, 49, 37);
	padding: 5px 5px 0px 5px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}
.article-content {
	color:RGB(94, 93, 93);
	padding: 5px 5px 5px 5px;
	text-align: left;
	font-size: 11px;
	line-height: 13px;
	font-weight: 500;
}

.soccer {
	background-color: RGB(82, 139, 50);
}

.trophy {
	background-color: RGB(251, 199, 41);
}

.thumbsup {
	background-color: RGB(29, 69, 189);
}

.sad {
	background-color: RGB(119, 0, 50);
}

.padding-100 {
	padding: 100px 0px;
}
/* global end */

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #3e3e3e;
	width: 100%;
	border: none;
	background: RGBA(119, 0, 50, .9);
	header{
		width: 100%;
		background-image: linear-gradient(to bottom, #34669d, #1e3c5c);
		.top-nav {
			width:80%;
			padding: 3px 0px;
			overflow: hidden;
			button {
				background-color: #1e3c5c;
				background-image: linear-gradient(to bottom, #437fc1 0%, #1e3c5c 100%);
				border-radius: 5px;
				border: 1px #274d77 solid;
				margin:5px 0px;
				padding:2px 5px;
				box-sizing: border-box;
				float: left;
				.fcb-team-logo {
					float: left;
					width: 28px;
					height: 28px;
					border:none;
					background: url("../img/fcb-team-logo.gif");
					background-size: cover;
					border-radius: 6px;
				}
				span {
					color:#FFF;
					float: left;
					margin-top: 7px;
					margin-left: 5px;
					background-color: $color-transparent;
					font-size: 15px;
				}
			}
		}
	}

	.hero {
		width:100%;
		padding-bottom: 100px;
		position: relative;
		color: RGB(255,255,255);
		background-color:RGBA(115, 115, 115, .4); 
		h1 {
			font-size: 50px;
			font-weight: 700;
			padding-top: 150px;
			padding-bottom: 20px;
		}
		h3 {
			width: 80%;
			text-align: center;
			font-weight: lighter;
			font-size: 14px;
			margin: 3px auto;
			color: RGB(240, 240, 240);
			p {
				font-size: 16px;
				font-weight: bold;
				display: inline-block;
				font-style: italic;
			}
			
		}

		&:after {
			background: url("../img/nou-camp.jpg");
			background-size: cover;
			background-position: center;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			content:"";
			z-index: -1;
			opacity: .9;
		}

	}

	.timeline {
		width: 80%;
		background-color: $bg-timeline;
		border-radius: 5px;
		margin: 0px auto;
		box-sizing: border-box;
		padding-top: 30px;
		.line-content {
			position: relative;
			width: 100%;
			border-radius: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			.start {
				background-color: RGB(166, 215, 125);
				border-radius: 5px;
				width: 40%;
			}	
			.end {
				background-color: RGB(166, 215, 125);
				position: relative;
				border-radius: 5px;
				height: 100px;
				margin-top: 30px;
				width: 40%;
				ul {
					margin: 10px 0px 10px 40px;
					text-align: left;
					li {
						margin: 0px 10px;
						display: inline-block;
						-webkit-box-shadow: 0 0 2px RGB(29, 69, 189);
						border-radius: 3px;
						overflow: hidden;
						width: 60px;
						height: 60px;
						img {
							width: 100%;
							height: 100%;
							border: 2px white solid;
							box-sizing: border-box;
						}
						&:hover {
							-webkit-transform: scale(3); 
						}
					}
				}
			}
			
			&:before {
				content: "";
				position: absolute; 
				box-sizing: border-box;
				width:3px;
				height: 98%;
				margin:5px auto;
				background-color: RGBA(39, 76, 117, .8);
				z-index: 0;
				-webkit-box-shadow:0px 0px 4px rgb(39, 76, 117); 
			}
			
			ul {
				.milestone:nth-child(2n) {
					position: relative;	
					padding:70px;
					.icon-container {
						position: relative;	
						padding:5px;
						box-sizing: border-box;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						z-index: 1;
						i {
							border: none;
							vertical-align: middle;
							color: #fff;
							border-radius: 50%;
							font-size: 25px;
						}
						.article {
							position: absolute;
							top:-30px;
							left:70px;
							width: 300px;
							box-sizing: border-box;
							border: 2px $bg-article-border solid;
							border-radius: 5px;
							padding: 2px;
							background-color: $bg-article-white;
							&:before {
	                        	content: "";
	                        	position: absolute;
	                        	top:3em;
	                        	left:-0.9em;
	                        	width:16px;
								height:16px;
	                        	box-sizing: border-box;
	                        	-moz-transform:rotate(45deg); 
								-webkit-transform:rotate(45deg); 
								-o-transform:rotate(45deg); 
								transform:rotate(45deg); 
								background-color: $bg-article-border;
								z-index: 1;
							}
							&:after {
								content:"";
								position: absolute;
	                        	top:3em;
	                        	left:-0.6em;
	                        	width:16px;
								height:16px;
	                        	box-sizing: border-box;
	                        	-moz-transform:rotate(45deg); 
								-webkit-transform:rotate(45deg); 
								-o-transform:rotate(45deg); 
								transform:rotate(45deg); 
								background-color: $bg-article-white;
								z-index: 1;
							}
						}
						.imgs {
							position: absolute;
							top:-0.5em;
							left:6em;
							.rotate-60 {
								position: absolute;
								-webkit-transform:rotate(-60deg); 
								-moz-transform:rotate(-60deg); 
								-o-transform:rotate(-60deg); 
								left: -26em;
							}
							.rotate-40 {
								position: absolute;
								-webkit-transform:rotate(-40deg); 
								-moz-transform:rotate(-40deg); 
								-o-transform:rotate(-40deg); 
								left: -21em;	
							}
							.rotate-20 {
								position: absolute;
								-webkit-transform:rotate(-20deg); 
								-moz-transform:rotate(-20deg); 
								-o-transform:rotate(-20deg); 
								left: -16em;
							}
							li {
								display: inline-block;
								position: absolute;
								width: 7em;
								height: 7em;
								transition: all 0.2s ease-in-out;
								&:hover {
									-webkit-transform: scale(3); 
									z-index: 3;
								}
								img {
									box-sizing: border-box;
									border: 2px white solid;
									-webkit-box-shadow: 0 0 2px RGB(29, 69, 189);
									border-radius: 3px;
									width: 100%;
									height: 100%;
								}
							}
						}
					}
				}
				.milestone:nth-child(2n-1) {
					position: relative;	
					padding:70px;
					.icon-container {
						position: relative;	
						padding:5px;
						box-sizing: border-box;
						width: 35px;
						height: 35px;
						border-radius: 50%;
						z-index: 1;
						i {
							border: none;
							vertical-align: middle;
							color: #fff;
							border-radius: 50%;
							font-size: 25px;
						}
						.article {
							position: absolute;
							top:-20px;
							left:-325px;
							width: 300px;
							box-sizing: border-box;
							border: 2px $bg-article-border solid;
							border-radius: 5px;
							padding: 2px;
							background-color: $bg-article-white;
							z-index: 1;
							&:before {
	                        	content: "";
	                        	position: absolute;
	                        	top:30px;
	                        	left:290px;
	                        	width:16px;
								height:16px;
	                        	box-sizing: border-box;
	                        	-moz-transform:rotate(45deg); 
								-webkit-transform:rotate(45deg); 
								-o-transform:rotate(45deg); 
								transform:rotate(45deg); 
								background-color: $bg-article-border;
								z-index: 1;
							}
							&:after {
								content:"";
								position: absolute;
	                        	top:3em;
	                        	left:28.7em;
	                        	width:16px;
								height:16px;
	                        	box-sizing: border-box;
	                        	-moz-transform:rotate(45deg); 
								-webkit-transform:rotate(45deg); 
								-o-transform:rotate(45deg); 
								transform:rotate(45deg); 
								background-color: $bg-article-white;
								z-index: 1;
							}
						}
						.imgs {
							position: absolute;
							top:-0.5em;
							left:6em;
							.rotate-60 {
								position: absolute;
								-webkit-transform:rotate(60deg); 
								-moz-transform:rotate(60deg); 
								-o-transform:rotate(60deg); 
								left: 10em;
							}
							.rotate-40 {
								position: absolute;
								-webkit-transform:rotate(40deg); 
								-moz-transform:rotate(40deg); 
								-o-transform:rotate(40deg); 
								left: 5em;	
							}
							.rotate-20 {
								position: absolute;
								-webkit-transform:rotate(20deg); 
								-moz-transform:rotate(20deg); 
								-o-transform:rotate(20deg); 
								left: 0em;
							}
							li {
								display: inline-block;
								position: absolute;
								width: 7em;
								height: 7em;
								transition: all 0.2s ease-in-out;
								&:hover {
									-webkit-transform: scale(3); 
									z-index: 2;
								}
								img {
									box-sizing: border-box;
									border: 2px white solid;
									-webkit-box-shadow: 0 0 2px RGB(29, 69, 189);
									border-radius: 3px;
									width: 100%;
									height: 100%;
								}
							}
						}
					}
				}
			}
		}

		.imgbar {
			padding-top:50px;
			width: 100%;
			border: none;
			padding: 30px 0px 30px 0px;
			.pic-box {
				width:30%;
				display: inline-block;
				box-sizing: border-box;
				padding: 4px;
				background-color: black; 
				position: relative;
				.img-border {
					box-sizing:border-box;
					border: 0.2em white solid;
					img {
						border: 2px white solid;
						width: 100%;	
						transition: all 0.2s ease-in-out;
						border: none;	
					}
				}
				&:hover {
					-webkit-transform:scale(1.2); 
					-moz-transform:scale(1.2); 
					-o-transform:scale(1.2); 
					z-index: 1;	
				}
			}	
		}	
	}

	footer {
		width: 100%;
		height: 50px;
		background-image: linear-gradient(to bottom, #34669d, #1e3c5c);
		border: none;
		div{
			height: 100%;
			border: none;
			padding:0px;
			p {
				border: none;
				display: inline-block;
				margin-right: 5px
			}
			.preffix {
					padding-top: 20px; 
					color: RGB(225, 230, 234);
					font-size: 12px;
					font-weight: lighter;	
					font-style: italic;
			}
			.author {
					padding-top: 10px; 
					color: RGB(225, 230, 234);
					font-size: 15px;
					font-weight: bold;
					color: #FFF;	
			}
		}
	}

}

