@import "compass/reset";
@import "compass/css3";

$bg-color-headertop: RGB(88, 143, 188);
$bg-color-headerbottom: RGB(31, 62, 94);
$color-headerbotton: RGB(31, 62, 94);

body {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #3e3e3e;
	width: 100%;
	border: none;
	header{
		background-color: #1e3c5c;
		width: 100%;
		background-image: linear-gradient(to bottom, #34669d 0%, #1e3c5c 100%);
	}
	button {
		border:1px $color-headerbotton solid;
		//box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
}


